body {
  margin-right: 30px;
  margin-top: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.search-input {
  height: 35px;

  margin-right: 10px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
.stats {
  display: flex;
  justify-content: center;
}
.stats-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.material-icons {
  margin-right: 5px;
}

.gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.gallery-item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 300px;
}
.photo {
  height: 240px;
  overflow: hidden;
}
